

.link-bottom::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $highligth;
    transition: width .3s;
}

.link-bottom:hover::after {
    width: 100%;
    //transition: width .3s;
}