@import "variables";
@import "icons";
@import "defaults";
@import "animations";


.sp-l {
    margin-left: 20px;   
}

.sp-r {
    margin-right: 20px;
}

.lsp-l {
    margin-left: 50px;
}

.lsp-r {
    margin-right: 50px;
}
